*{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url(darksky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header{
    top: 0; left: 0; right: 0;
    width: 100%;
    height: 55px;
    background-color: rgba(23,23,23,0.15);
    color: white;
    position: fixed;
    padding: 20px 15%;
    

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}


a{
    text-decoration: none;
    color: rgb(238, 238, 238);
    font-size: 18px;
    font-weight: 500;
    padding: 20px;

    transition: 300ms all ease;
}

.logo{
    font-size: 24px;
    font-weight: bolder;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    position: relative;
}

a:hover{
    color: #e7b050;
}

.emb-list{
    position: absolute;
    left: 0;
    top: 42px;
    width: 200px;

    padding: 50x, 10px, 50px, 0;
    background-color: rgba(23,23,23,0.25);

    border-radius: 15px;

    display: none; 

    li{
        width: 100%;
        margin: 10px;
    }

}

nav ul li:hover > ul{
    display: block;
}

#menu-bar{
    display: none; 
}

header label{
    font-size: 20px;
    color: rgb(238, 238, 238);
    cursor: pointer; 
    display: none;
}

/*RWD*/

@media(width < 1080px){
    header{
        padding: 20px;
    }

    header label{
        display: initial;
    }

    header nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        display: none;
    }

    header nav ul{
        display: block;
        width: 100%;
        padding-left: 25px;
        margin: 20px 0;
        padding-bottom: 5px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }

    header nav ul li{
        width: 100%;
        margin: 20px 0;
    }

    .emb-list{
        position: relative;
        display: none;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        top: 0;
        left: 0;
    }

    #menu-bar:checked ~ nav{
        display: initial;
    }
}

